@define-color base           #181926 ;
@define-color blue_border    #528bff ;
@define-color selected_color #24273a ;
@define-color font_color     #b6c0cd ;
 
*{
  font-family: "Ubuntu, Light";
  font-size: 16px;
}
 
window {
  border: 0px solid @blue_border;
  border-radius: 16px;
}
 
#input {
  border: none;
  border-radius: 5px;
  color: @font_color;
  margin-bottom: 15px;
  padding:3px;
}
 
#inner-box {
  background-color: @base;
  box-shadow: -4px -3px 45px 21px rgba(0,0,0,0.35);
}
 
#outer-box {
  background-color: @base;
  border-radius: 15px;
  margin: 5px;
  padding: 10px;
}
 
#text {
  color: @font_color;
  padding: 5px;
}
 
#entry {
  padding: 10px;
}
 
#entry:nth-child(even) {
  background-color: @base;
}
 
#entry:selected {
  background-color: @selected_color;
}
