/* general settings */
* {
  border-radius: 10px;
  font-family: "FiraCode Nerd Font";
  font-weight: normal;
  font-size: 17px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
}

tooltip {
  background: rgba(12, 12, 12, 0.9);
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #528bff;
  font-family: "Ubuntu Light 12";
  font-weight: normal;
  font-size: 12px;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #b1b4b9;
}

tooltip {
  background: rgba(19, 21, 23, 0.8);
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #528bff;
}

#battery,
#backlight,
#clock,
#cpu,
#disk,
#network,
#memory,
#pulseaudio,
#workspaces,
#custom-hypridle,
#custom-wireguard,
#tray,
#window {
  background: rgba(12, 12, 12, 0.4);
  padding: 0px 10px;
  margin: 5px 5px;
  margin-top: 10px;
  margin-bottom: 0px;
  border: 0px solid #595959;
}


/* left segment */
#window {
  margin-left: 0px;
  padding: 0px 10px;
  border-radius: 0px 10px 10px 0px;
  font-family: "Ubuntu Light 12";
  font-weight: normal;
  font-size: 17px;
}

#workspaces{
  margin-left: 10px;
  margin-right: 0px;
  padding: 0px 0px;
  border-radius: 10px 0px 0px 10px;
}

#workspaces button.active {
  color: #89b4fa;
}


/* middle segment */
#clock {
  font-family: "Ubuntu Light 12";
  font-weight: normal;
  font-size: 18px;
}


/* right segment */
#backlight,
#battery,
#custom-wireguard,
#cpu,
#disk,
#memory,
#network,
#pulseaudio {
  border-radius: 0px 0px 0px 0px;
  font-size: 17px;
  margin-right: -3px;
  margin-left: 0px;
}

#tray {
  border-radius: 10px 0px 0px 10px;
  font-family: "Ubuntu Light 12";
  font-size: 12px;
  margin-left: 10px;
  margin-right: 0px;
}

#custom-hypridle {
  border-radius: 0px 10px 10px 0px;
  font-size: 18px;
  margin-left: 0px;
  margin-right: 10px;
}
